body {
  background-color: rgb(245, 242, 230);
}

.title {
  text-align: center;
  font-size: 200px;
  font-weight: bold;
  margin-top: -60px;
}

@media (max-width: 1250px) {
  .title {
    font-size: 150px;
    margin-top: -30px;
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 100px;
    margin-top: -30px;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 70px;
    margin-top: -20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 70px;
    margin-top: 10px;
    margin-left: 0;
  }
}

@media (max-width: 467px) {
  .title {
    font-size: 47px;
    margin-top: 10px;
    margin-left: 0;
  }
}

@media (max-width: 323px) {
  .title {
    font-size: 34px;
    margin-top: 10px;
    margin-left: 0;
  }
}


@media (max-width: 280px) {
  .title {
    font-size: 29px;
    margin-top: 10px;
    margin-left: 0;
  }
}


.infoOne {
  font-weight: bold;
  font-size: 18px;
}
@media (max-width: 576px) {
  .infoOne {
    font-size: 13px;
    margin-bottom: 20px;
  }
}

@media (max-width: 400px) {
  .infoOne {
    font-size: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 320px) {
  .infoOne {
    font-size: 8px;
    margin-bottom: 20px;
  }
}

.infoTwo {
  font-weight: bold;
  font-size: 15px;
  margin-top: -2px;
  margin-bottom: 90px;
}
@media (max-width: 576px) {
  .infoTwo {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  .infoTwo {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  .infoTwo {
    font-size: 8px;
  }
}

.webInfo {
  font-weight: bolder;
  font-size: 33px;
  margin-top: -30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 2px;
  text-align: start;
}

@media (max-width: 995px) {
  .webInfo {
    font-size: 25px;
    margin-top: -26px;
    text-align: start;
    font-weight: bolder;
  }
}

@media (max-width: 576px) {
  .webInfo {
    font-size: 20px;
    margin-top: -800px;
    text-align: start;
    font-weight: bolder;
  }
}


@media (max-width: 495px) {
  .webInfo {
    font-size: 18px;
    margin-top: -755px;
    text-align: start;
    font-weight: bolder;
  }
}


@media (max-width: 467px) {
  .webInfo {
    font-size: 18px;
    margin-top: -755px;
    text-align: start;
    font-weight: bolder;
  }
}

@media (max-width: 446px) {
  .webInfo {
    font-size: 18px;
    margin-top: -720px;
    text-align: start;
    font-weight: bolder;
  }
}

@media (max-width: 415px) {
  .webInfo {
    font-size: 18px;
    margin-top: -700px;
    text-align: start;
    font-weight: bolder;
  }
}

@media (max-width: 378px) {
  .webInfo {
    font-size: 15px;
    margin-top: -650px;
    text-align: start;
    font-weight: bolder;
  }
}

@media (max-width: 347px) {
  .webInfo {
    font-size: 16px;
    margin-top: -650px;
    text-align: start;
    font-weight: bolder;
  }
}

@media (max-width: 320px) {
  .webInfo {
    font-size: 15px;
    margin-top: -610px;
    text-align: start;
    font-weight: bolder;
  }
}

@media (max-width: 320px) {
  .webInfo {
    font-size: 12px;
    margin-top: -560px;
    text-align: start;
    font-weight: bolder;
  }
}



.appInfo {
  font-size: 22px;
  margin-top: -20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 2px;
  text-align: end;
  justify-content: end;
}
@media(max-width: 576px){
    .appInfo{
        font-size: 20px;
    }
}

@media(max-width: 416px){
  .appInfo{
      font-size: 17px;
  }
}

@media(max-width: 378px){
  .appInfo{
      font-size: 14px;
  }
}

.myInfo {
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 17px;
}

@media (max-width: 576px) {
  .btnWeb {
    margin-top: -50px;
  }
}

@media (max-width: 576px) {
  .btnApp {
    margin-top: 280px;
  }
}
