body {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
}

[data-bs-theme="light"] {
    --bs-body-bg: rgb(242, 242, 242);
    --bs-body-color: rgb(25, 25, 25);
    --bs-nav-bg: rgb(242, 242, 242);
    --bs-nav-color: rgb(0, 0, 0);

}

[data-bs-theme="dark"] {
    --bs-body-bg: rgb(25, 25, 25);
    --bs-body-color: rgb(255, 255, 255);
    --bs-nav-bg: rgb(25, 25, 25);
    --bs-nav-color: rgb(255, 255, 255);
}


.navigation .nav-link {
    color: var(--bs-nav-color);
}


.nav-link {
    color: rgb(255, 255, 255);
}


.seasons {
    text-align: center;
    margin-top: 65px;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.seasons-context {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 30px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.fall-title {
    text-align: center;
    font-size: 65px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    margin-bottom: none;
}

.fall-text {
    text-align: center;
    font-size: 35px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: none;
    margin-bottom: 10px;
    margin-left: 6px;
    font-weight: lighter;
    text-decoration-line: overline;
}


.spring {
    border-radius: 10px;
    box-shadow: 13px 13px 12px rgb(64, 64, 64);
}

.spring-title {
    color: var(--bs-body-color);
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-decoration: underline;
    margin-top: 35px;

}

.spring-text {
    color: var(--bs-body-color);
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.spring-info {
    color: var(--bs-body-color);
    font-size: 15px;
    text-align: center;
    margin-top: 40px;
    font-weight: normal;

}


.snow-title {
    text-align: center;
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    margin-bottom: none;
}

.snow-text {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: none;
    margin-bottom: 10px;
    margin-left: 6px;
    font-weight: lighter;
    text-decoration-line: overline;
}



.summer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sunny-title {
    text-align: center;
    font-size: 90px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    margin-top: 20px;
    margin-bottom: none;

}

.sunny-text {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: none;
    margin-bottom: 10px;
    margin-left: 6px;
    font-weight: lighter;
    text-decoration-line: overline;

}




.image-container {
    width: 70%;
    height: auto;
    margin: auto;
    display: block;
    text-align: center;

}


.btn-position {
    margin-top: 30px;
    text-align: center;
}


.display-2 {
    margin-top: 35px;
    font-size: 110px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 3px 3px 8px #01290b;
}
